.container-fluid
    .row.bg-secondary.py-1.px-xl-5 
        .col-lg-6.d-none.d-lg-block 
            .d-inline-flex.align-items-center.h-100 
                a(href="").text-body.mr-3 About 
                a(href="").text-body.mr-3 Contact 
                a(href="").text-body.mr-3 Help 
                a(href="").text-body.mr-3 FAQs 
        .col-lg-6.text-center.text-lg-right 
            .d-inline-flex.align-items-center 
                .btn-group 
                    button(type="button",data-toggle="dropdown").btn.btn-sm.btn-light.dropdown-toggle My Account 
                    .dropdown-menu.dropdown-menu-right
                        button(type="button").dropdown-items Sign In
                        button(type="button").dropdown-items Sign Up 
                .btn-group.mx-2
                    button(type="button",data-toggle="dropdown").btn.btn-sm.btn-light.dropdown-toggle USD
                    .dropdown-menu.dropdown-menu-right
                        button(type="button").dropdown-items EUR
                        button(type="button").dropdown-items GBP
                        button(type="button").dropdown-items CAD
                .btn-group.mx-2
                    button(type="button",data-toggle="dropdown").btn.btn-sm.btn-light.dropdown-toggle EN
                    .dropdown-menu.dropdown-menu-right
                        button(type="button").dropdown-items FR
                        button(type="button").dropdown-items AR
                        button(type="button").dropdown-items RU